{% extends 'main/base.html' %}

{% block content %}
  <h1>Подтвердите удаление</h1>
  <p>Вы действительно хотите удалить "{{ object }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Да, удалить</button>
    <a href="{% url 'gallery:gallery' object.pk %}">Отмена</a>
  </form>
{% endblock %}
В этом примере шаблона мы выводим сообщение с названием объекта, который будет удален. Затем есть форма с кнопкой "Да, удалить" и ссылкой "Отмена". Когда пользователь нажимает кнопку "Да, удалить", форма отправляется, и объект будет удален. Если пользователь нажимает "Отмена", он будет перенаправлен обратно к деталям объекта.

Обратите внимание, что URL для отмены ({% url 'yourapp:detail' object.pk %}) может отличаться в зависимости от вашей системы маршрутизации и наименования URL.





