{% extends 'main/base.html' %}

{% block content %}
<title>{{ title }}</title>
        <main class="main-content-wrapper">
            <div class="pt--50 pt-xl--50 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 text-center">
                            <div class="error">
                                <h1><i class="fa fa-question" aria-hidden="true"></i></h1>
                                  <h2>Добро пожаловать</h2>
                                  <p>Вы действительно хотите завести анкету массажиста?</p>
                                  <a class="btn btn-size-sm mr--20" href="{% url 'specialists:edit_profile' user.username %}">Да, заполнить анкету</a>
                                {% if user.is_authenticated %}
                                  <a class="btn btn-size-sm" href="{% url 'users:profile' %}">Нет</a>
                                {% else %}
                                  <a class="btn btn-size-sm" href="{% url 'specialist:specialist' %}">Нет</a>
                                {% endif %}
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}






