{% load format_years %}

<div class="grid-container">

      <div class="param-name">Пол</div>
          <div class="param-value">
               {% if specialist.specialist_profile.gender is True %}
                <i class="fa fa-mars" aria-hidden="true" title="Мужчина"></i>
               {% elif specialist.specialist_profile.gender is False %}
                <i class="fa fa-venus" aria-hidden="true" title="Женщина"></i>
               {% endif %}
          </div>
              {% if specialist.specialist_profile.age %}
      <div class="param-name">Возраст</div>
      <div class="param-value">{{ specialist.specialist_profile.age }}</div>
      <div class="param-additional">{{ specialist.specialist_profile.age|years_suffix }}</div>
              {% endif %}
              {% if specialist.specialist_profile.practice_start_date is not None %}
      <div class="param-name">Опыт</div>
              {% if specialist.specialist_profile.practice_start_date|years_from_date == 0 %}
      <div class="param-value">< 1</div>
              {% else %}
      <div class="param-value">{{ specialist.specialist_profile.practice_start_date|years_from_date }}</div>
              {% endif %}
      <div class="param-additional">
          {{ specialist.specialist_profile.practice_start_date|years_from_date|years_suffix }}
      </div>
              {% endif %}
      <div class="param-name">Массаж для</div>
      <div class="param-value">
          {% for massage_for in specialist.specialist_profile.massage_for.all %}
            <i class="fa {{massage_for.icon}}" aria-hidden="true" title="{{ massage_for.massage_for }}"></i>
          {% endfor %}
      </div>
      <div class="param-name">Цена дома</div>
      <div class="param-value">{{ specialist.specialist_profile.basicserviceprice_set.first.home_price }}</div>
      <div class="param-additional">₽</div>
      <div class="param-name">Цена с выездом</div>
      <div class="param-value">{{ specialist.specialist_profile.basicserviceprice_set.first.on_site_price }}</div>
      <div class="param-additional">₽</div>
            </div>
