{% extends 'main/base.html' %}

{% block content %}
  <title>Смена пароля</title>
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--40 pb--80">
            <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 mb-sm--50">
                    <div class="login-box">
                        {% include 'accounts/profile_change_password_content.html' %}
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}