{% extends 'main/base.html' %}
{% load static %}



{% block content %}
        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                            <div class="shop-toolbar mb--50">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <form method="get" id="ordering-form">
                                                    {{ filter_form.order_by }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right">
                                             <p class="product-pages">Показано {{ page_obj|length }} из {{ paginator.count }}</p>
                                             <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" data-target="grid">
                                                    <img src="{% static 'main/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a data-target="list">
                                                    <img src="{% static 'main/img/icons/list.png' %}" alt="List">
                                                </a>
                                                <a data-target="map">
                                                    <img src="{% static 'main/img/icons/map.png' %}" alt="Map">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-products">
                                <div class="row">
                                {% for specialist in specialists %}
                                    <div class="col-xl-4 col-sm-6 mb--50">
                                    <!--    карточка в сетке   -->
                                        {% include 'specialists/specialist_card_grid.html' %}
                                    <!--    карточка в списке   -->
                                        {% include 'specialists/specialist_card_list.html' %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="payne-product-map">
                                    <div id="map" style="width: 100%; height: 65vh;;" >
                                    {% include 'map/map_multiply.html' %}
                                    </div>
                                </div>
                            </div>
                            {% include 'main/pagination.html' %}
                        </div>

                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <aside class="shop-sidebar">
                                    <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Пол</h3>
                                        <ul class="widget-list category-list">
                                            {% for field in filter_form.gender %}
                                            <li class="category-title">

                                                {{ field }}
                                                <span class="category-title">
                                                {{ field.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                            {% endfor %}


                                        <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Для кого массаж</h3>
                                        <ul class="widget-list category-list">
                                            {% for field in filter_form.massage_for %}
                                            <li class="category-title">
                                                {{ field }}
                                                <span class="category-title">
                                                {{ field.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                            {% endfor %}
                                    <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Цена</h3>
                                        <ul class="widget-list price-list">
                                            {% for field in filter_form.price %}
                                            <li>
                                                    {{ field }}
                                                    <strong class="font-weight-medium">{{ field.label }}</strong>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                <button class="btn btn-size-sm mb--10" type="submit">Показать</button>
                                            <a href="{% url 'specialists:specialists' %}" class="btn btn-size-sm mb--10">Cбросить</a>
                                </form>



                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->
{% csrf_token %}
{% endblock content %}


{% block script %}
<script>
function sendPostRequest(link) {
    const obj_pk = link.getAttribute("data-obj-pk");
    const content_type_id = link.getAttribute("data-content-type-id");

    const url = "{% url 'feedback:like' %}";
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    const data = JSON.stringify({ obj_pk: obj_pk, content_type_id: content_type_id });

    const xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);

    xhr.setRequestHeader("X-CSRFToken", csrfToken);
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            const response = JSON.parse(xhr.responseText);
            console.log("POST запрос выполнен успешно");
            console.log("Результат: " + response.result);
            console.log("Количество: " + response.count);

            // Найти все <a> элементы с соответствующим data-obj-pk
            const allHeartIcons = document.querySelectorAll(`a[data-obj-pk="${obj_pk}"] i.fa`);

            // Обновить классы всех найденных значков сердца
            allHeartIcons.forEach(heartIcon => {
                if (response.result) {
                    heartIcon.classList.remove('fa-heart-o');
                    heartIcon.classList.add('fa-heart');
                } else {
                    heartIcon.classList.remove('fa-heart');
                    heartIcon.classList.add('fa-heart-o');
                }
            });
        } else {
            console.error("Ошибка при выполнении POST запроса");
        }
    };

    xhr.send(data);
}
</script>
{% endblock script %}

