{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block content %}
<!-- contact section -->
<title>{{ title }}</title>
<div class="main-content-wrapper">
            <div class="page-content-inner pt--75 pb--80">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
            {% block form %}
            {% endblock form %}
                        </div>
                    </div>
                </div>
            </div>
</div>
<script>
  // Настройка автодополнения адресов
  ymaps.ready(function () {
    var addressInput = new ymaps.SuggestView('addressInput');
  });
</script>
<!-- end contact section -->
{% endblock content %}