<div class="rating">
    <i class="fa fa-star-o star" data-rating="1"></i>
    <i class="fa fa-star-o star" data-rating="2"></i>
    <i class="fa fa-star-o star" data-rating="3"></i>
    <i class="fa fa-star-o star" data-rating="4"></i>
    <i class="fa fa-star-o star" data-rating="5"></i>
    <div id="scoreWarning" class="error" ></div>
</div>
<input type="hidden" name="score" id="id_score" value="{{ form.score.value }}">

<script>
document.addEventListener('DOMContentLoaded', function () {
    const stars = document.querySelectorAll('.star');
    const ratingInput = document.getElementById('id_score');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const rating = star.getAttribute('data-rating');
            stars.forEach(s => {
                if (s.getAttribute('data-rating') <= rating) {
                    s.classList.remove('fa-star-o');
                    s.classList.add('fa-star');
                } else {
                    s.classList.add('fa-star-o');
                    s.classList.remove('fa-star');
                }
            });
            ratingInput.value = rating;
        });
    });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('Script is running.');

        var form = document.getElementById('review-form');
        var scoreWarning = document.getElementById('scoreWarning');

        if (form && scoreWarning) {
            form.addEventListener('submit', function (event) {
                console.log('Form is submitted.');

                var scoreField = document.getElementById('id_score');
                console.log('Value of scoreField:', scoreField ? scoreField.value : 'null');

                if (scoreField && (scoreField.value === 'None' || scoreField.value.trim() === '')) {
                    console.log('Rating is not provided. Cancelling form submission.');
                    scoreWarning.innerHTML = 'Укажите оценку';
                    event.preventDefault();
                } else {
                    scoreWarning.style.display = 'none';
                    console.log('Form submission allowed.');
                    // Если все проверки пройдены, форма будет отправлена
                }
            });
        } else {
            console.error('Form or warning element not found.');
        }
    });
</script>


