{% extends 'users/base.html' %}
{% load static %}


{% block content %}
  <title>{{ title }}</title>



<section class="health_section layout_padding-left layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-container">
            <div class="heading_container">
              <h2>
                Health Benifits
              </h2>
            </div>
            <div class="detail-box">
              <div class="detail">
                <div class="detail_img-box">
                  <img src="images/h-1.jpg" alt="">
                </div>
                <div class="text">
                  <p>
                    It is a long established fact that a reader will be distracted by the
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="images/h-2.jpg" alt="">
                </div>
                <div class="text">
                  <p>
                    It is a long established fact that a reader will be distracted by the
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="images/h-3.jpg" alt="">
                </div>
                <div class="text">
                  <p>
                    It is a long established fact that a reader will be distracted by the
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="images/h-4.jpg" alt="">
                </div>
                <div class="text">
                  <p>
                    It is a long established fact that a reader will be distracted by the
                  </p>
                </div>
              </div>
            </div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/health-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end health section -->

  <!-- spl section -->

  <section class="spl_section layout_padding layout_padding-left">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Specialists
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
        </p>
      </div>
    </div>
    <div class="spl_container">
      <div class="owl-carousel owl-theme">
        <div class="item" style="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'users/images/spl-1.jpg' %}" alt="">
              <div class="social_container">
                <div class="social-box">
                  <a href="">
                    <img src="images/facebook-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/twitter-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/linkedin.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/instagram.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="detail-box">
              <h5>
                Flora Martin
              </h5>
              <p>
                It is a long established fact that a
                reader will be distracted by
                the readable content of a page
              </p>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'users/images/spl-2.jpg" alt="">
              <div class="social_container">
                <div class="social-box">
                  <a href="">
                    <img src="images/facebook-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/twitter-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/linkedin.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/instagram.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="detail-box">
              <h5>
                Abigail Hoover
              </h5>
              <p>
                It is a long established fact that a
                reader will be distracted by
                the readable content of a page
              </p>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'users/images/spl-3.jpg' %}" alt="">
              <div class="social_container">
                <div class="social-box">
                  <a href="">
                    <img src="images/facebook-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/twitter-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/linkedin.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/instagram.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="detail-box">
              <h5>
                Alyson Mitchell
              </h5>
              <p>
                It is a long established fact that a
                reader will be distracted by
                the readable content of a page
              </p>
            </div>
          </div>
        </div>
        <div class="item" style="">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'users/images/spl-4.jpg' %}" alt="">
              <div class="social_container">
                <div class="social-box">
                  <a href="">
                    <img src="images/facebook-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/twitter-logo-button.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/linkedin.png" alt="">
                  </a>
                  <a href="">
                    <img src="images/instagram.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="detail-box">
              <h5>
                Abigail Hoover
              </h5>
              <p>
                It is a long established fact that a
                reader will be distracted by
                the readable content of a page
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end spl section -->

{% endblock %}
