{% load static %}
{% block map %}

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init() {
    var myMap = new ymaps.Map("map", {
            center: [55.823462, 49.131547],
            zoom: 13
        }, {
            searchControlProvider: 'yandex#search'
        });






{% block map_content %}
{% endblock map_content %}

}
</script>
{% endblock map %}

