{% load static %}
{% load rating_tags %}
{% load like %}
{% load format_years %}


{% block payne_card %}
<div class="col-xl-4 col-sm-6 mb--50">
<!--    карточка в сетке   -->
    <div class="payne-product">
        <div class="product__inner">
            <div class="product__image">

                <figure class="product__image--holder">
                    <img src="{{ specialist.photos.first.image.url }}" alt="Специалист">

                </figure>


                {% if user.is_authenticated %}
                <div class="product__action like-button">
                    {% like_button specialist.pk content_type_id specialist.is_bookmarked %}
                </div>
                {% endif %}
            </div>
            <div class="product__info">
                <div class="product__info--left">
                    <div class="header-flex-container">
                    <h3 class="product__title">
                        {% if user == specialist %}
                        <a href="{% url 'users:profile' %}">
                        {% else %}
                        <a href="{% url 'users:specialist_profile' specialist.username %}">
                        {% endif %}
                            {{ specialist.name }}
                        </a>
                        {{ specialist.therapist_profile.age|format_years }}
                    </h3>
                    </div>
                    <div class="product__price">
                        <span class="money">от {{specialist.min_price}}</span>
                        <span class="sign">₽</span>
                    </div>
                </div>
                <div class="product__info--right">
                    <span class="product__rating">
                        {% rating specialist.rating.first.average %}
                    </span>
                    <p>Отзывов: {{ specialist.rating.first.count|default:"0" }}</p>
                </div>

            </div>
        </div>
    </div>
    <!--    карточка в списке   -->

    <div class="payne-product-list">
        <div class="product__inner">
            <figure class="product__image">
                <a href="{% url
                {% if user == specialist %}
                'users:specialist_profile' specialist.username
                {% else %}
                'users:profile'
                {% endif %}
                 %}" class="d-block">
                        <img src="{{ specialist.photos.first.image.url }}" alt="Специалист">
                </a>
            </figure>
            <div class="product__info">
                <div class="header-flex-container">
                <h3 class="product__title">
                    {% if user == specialist %}
                        <a href="{% url 'users:profile' %}">
                        {% else %}
                        <a href="{% url 'users:specialist_profile' specialist.username %}">
                        {% endif %}
                        {{ specialist.name }}
                    </a>
                    {{ specialist.therapist_profile.age|format_years }}
                </h3>
                </div>
                <div class="product__price">
                    <span class="money">от {{specialist.min_price}}</span>
                    <span class="sign">₽</span>
                </div>
                <span class="product__rating">
                    {% rating specialist.rating.first.average %}
                    <p>Отзывов: {{ specialist.rating.first.count|default:"0" }}</p>
                </span>

                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{specialist.therapist_profile.address}}</p>
                <p class="product__short-description">
                        {{specialist.therapist_profile.description|safe|linebreaksbr|truncatechars:250}}</p>
                {% if user.is_authenticated %}
                <div class="d-flex product__list-action like-button">
                    {% like_button specialist.pk content_type_id specialist.is_bookmarked %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock payne_card %}
