{% load static %}
{% load rating_tags %}

{% block payne_card %}
<div class="col-xl-4 col-sm-6 mb--50">
<!--    карточка в сетке   -->
    <div class="payne-product">
        <div class="product__inner">
            <div class="product__image">
                <figure class="product__image--holder">
                    <img src="{{ specialist.avatar.thumbnail.url }}" alt="Product">
                </figure>
                <a href="product-details.html" class="product__overlay"></a>
                <div class="product__action">
                    <a href="wishlist.html" class="action-btn">
                        <i class="fa fa-heart-o"></i>
                        <span class="sr-only">Add to wishlist</span>
                    </a>
                </div>
            </div>
            <div class="product__info">
                <div class="product__info--left">
                    <h3 class="product__title">
                        <a href="{% url 'users:profile' %}">
                            {{ specialist }}
                        </a>
                        {{ specialist.therapist_profile.age_display }}
                    </h3>
                    <div class="product__price">
                        <span class="money">от {{specialist.min_price}}</span>
                        <span class="sign">₽</span>
                    </div>
                </div>
                <div class="product__info--right">
                    <span class="product__rating">
                        {% rating specialist.ratings.first.average %}
                    </span>
                    <p>Отзывов: {{ specialist.comments_count }}</p>
                </div>

            </div>
        </div>
    </div>
    <!--    карточка в списке   -->

    <div class="payne-product-list">
        <div class="product__inner">
            <figure class="product__image">
                <a href="product-details.html" class="d-block">
                    <img src="{{ specialist.avatar.thumbnail.url }}" alt="Products">
                </a>
            </figure>
            <div class="product__info">
                <h3 class="product__title">
                    <a href="{% url 'users:profile' %}">
                        {{ specialist }}
                    </a>
                    {{ specialist.therapist_profile.age_display }}
                </h3>
                <div class="product__price">
                    <span class="money">от {{specialist.min_price}}</span>
                    <span class="sign">₽</span>
                </div>
                <span class="product__rating">
                    {% rating specialist.ratings.first.average %}
                    <p>Отзывов: {{ specialist.comments_count }}</p>
                </span>

                <p>
                    <img src="{% static 'main/img/icons/marker.png' %}" alt="marker" style="width: 15px; height: 15px;">
                    {{specialist.therapist_profile.address}}</p>
                <p class="product__short-description">
                        {{specialist.therapist_profile.description|truncatechars:250}}</p>
                <div class="d-flex product__list-action">
                    <a href="cart.html" class="btn btn-size-sm">Подробнее</a>
                    <a href="compare.html" class="action-btn">
                        <i class="fa fa-repeat"></i>
                        <span class="sr-only">Add To Compare</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock payne_card %}
