{% load static %}
{% load rating_tags %}
{% load like %}

{% block payne_card %}
<div class="col-xl-4 col-sm-6 mb--50">
<!--    карточка в сетке   -->
    <div class="payne-product">
        <div class="product__inner">
            <div class="product__image">
                <figure class="product__image--holder">
                    <img src="{{ specialist.avatar.thumbnail.url }}" alt="Product">
                </figure>
                <a href="{% url 'users:specialist_profile' specialist.username %}" class="product__overlay"></a>
                <div class="product__action">
                    {% like_button specialist.pk content_type_id specialist.is_bookmarked %}
                </div>
            </div>
            <div class="product__info">
                <div class="product__info--left">
                    <h3 class="product__title">
                        <a href="{% url 'users:specialist_profile' specialist.username %}">
                            {{ specialist.name }}
                        </a>
                        {{ specialist.therapist_profile.age_display }}
                    </h3>
                    <div class="product__price">
                        <span class="money">от {{specialist.min_price}}</span>
                        <span class="sign">₽</span>
                    </div>
                </div>
                <div class="product__info--right">
                    <span class="product__rating">
                        {% rating specialist.rating.first.average %}
                    </span>
                    <p>Отзывов: {{ specialist.rating.first.count|default:"0" }}</p>
                </div>

            </div>
        </div>
    </div>
    <!--    карточка в списке   -->

    <div class="payne-product-list">
        <div class="product__inner">
            <figure class="product__image">
                <a href="product-details.html" class="d-block">
                    <img src="{{ specialist.avatar.thumbnail.url }}" alt="Products">
                </a>
            </figure>
            <div class="product__info">
                <h3 class="product__title">
                    <a href="{% url 'users:specialist_profile' specialist.username %}">
                        {{ specialist.name }}
                    </a>
                    {{ specialist.therapist_profile.age_display }}
                </h3>
                <div class="product__price">
                    <span class="money">от {{specialist.min_price}}</span>
                    <span class="sign">₽</span>
                </div>
                <span class="product__rating">
                    {% rating specialist.rating.first.average %}
                    <p>Отзывов: {{ specialist.rating.first.count|default:"0" }}</p>
                </span>

                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{specialist.therapist_profile.address}}</p>
                <p class="product__short-description">
                        {{specialist.therapist_profile.description|linebreaksbr|truncatechars:150}}</p>
                <div class="d-flex product__list-action">
                    {% like_button specialist.pk content_type_id specialist.is_bookmarked %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock payne_card %}
