{% extends 'main/base.html' %}

{% block profile_info %}
<div class="tab-pane fade" id="change_password">
    <form action="{% url 'accounts:password_change_done' %}" class="form form--account">
        <fieldset class="form__fieldset mb--20">
            <legend class="form__legend">Смена пароля</legend>
            <div class="row mb--20">
                <div class="col-12">
                    <div class="form__group">
                        <label class="form__label">{{change_password_form.old_password.label_tag}}</label>
                        {{change_password_form.old_password}}
                    </div>
                </div>
            </div>
            <div class="row mb--20">
                <div class="col-12">
                    <div class="form__group">
                        <label class="form__label">{{change_password_form.new_password1.label_tag}}</label>
                        {{change_password_form.new_password1}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form__group">
                        <label class="form__label">{{change_password_form.new_password2.label_tag}}</label>
                        {{change_password_form.new_password2}}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-12">
                <div class="form__group">
                    <button type="submit" value="Save Changes" class="btn">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock profile_info %}