{% load static %}
{% load ratings %}
{% block profile_card %}

<div class="cardContainer">
  <div class="card">
      <div class="head_container">
        {% if therapist.avatar %}
          <div class="avatar-container">
            <img src="{{ therapist.avatar.thumbnail.url }}" class="corner-image" alt="">
          </div>
        {% else %}
          <img src="{% static 'users/images/profile-icon.png' %}" title="" class="avatar-img" alt="">
        {% endif %}
        <a href="{% url 'users:therapist_profile1' therapist_username=therapist.username %}">
          <h2>{{ therapist }}</h2>
        </a>
        <div class="reviews">
          {% ratings therapist read_only=True %}
          <p>Отзывов: {{ therapist.comments_count }}</p>
        </div>
      </div>
            <div class="grid-container">

      <div class="param-name">Пол</div>
               {% if therapist.therapist_profile.gender is True %}
      <div class="param-value">
          <img src="{% static 'main/images/male.svg' %}" title="" alt="">
      </div>
                {% elif therapist.therapist_profile.gender is False %}
                <div class="param-value">
          <img src="{% static 'main/images/female.svg' %}" title="" alt="">
      </div>
              {% endif %}
              {% if therapist.therapist_profile.age %}
      <div class="param-name">Возраст</div>
      <div class="param-value">{{ therapist.therapist_profile.age }}</div>
      <div class="param-additional">{{ therapist.therapist_profile.display_years_suffix }}</div>
              {% endif %}
              {% if therapist.therapist_profile.experience is not None %}
      <div class="param-name">Опыт</div>
              {% if therapist.therapist_profile.experience == 0 %}
      <div class="param-value">< 1</div>
              {% else %}
      <div class="param-value">{{ therapist.therapist_profile.experience }}</div>
              {% endif %}
      <div class="param-additional">{{ therapist.therapist_profile.display_experience_suffix }}</div>
              {% endif %}
      <div class="param-name">Массаж для</div>
      <div class="param-value">
          {% if therapist.therapist_profile.massage_to_male is True %}
          <img src="{% static 'main/images/male.svg' %}" title="" alt="">
          {% endif %}
          {% if therapist.therapist_profile.massage_to_female is False %}
          <img src="{% static 'main/images/female.svg' %}" title="" alt="">
          {% endif %}
      </div>
      <div class="param-name">Цена от</div>
      <div class="param-value">3000</div>
      <div class="param-additional">рублей</div>
            </div>
      <div class="bottom-bar">
          <img src="{% static 'main/images/phone.svg' %}" class="contact" title="" alt="">
          <img src="{% static 'main/images/telegram.svg' %}" class="contact" title="" alt="">
          <img src="{% static 'main/images/whatsapp.svg' %}" class="contact" title="" alt="">
          <input type="hidden" id="bookmark-data-{{ therapist.pk }}" value="{{ therapist.is_bookmarked|yesno:"1,0" }}">
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'feedback:bookmark' therapist.pk content_type_id %}" class="bookmark-form" id="bookmark-form-{{ therapist.pk }}">
    {% csrf_token %}
    <input type="hidden" name="action" value="{% if therapist.is_bookmarked %}remove{% else %}add{% endif %}">
    <input type="image" src="{% if therapist.is_bookmarked %}{% static 'main/images/like-on.svg' %}{% else %}{% static 'main/images/like-off.svg' %}{% endif %}" alt="Отправить" id="bookmark-button-{{ therapist.pk }}" class="bookmark-button">
  </form>
  {% else %}
    <p>Чтобы добавить в закладки, войдите в систему.</p>
  {% endif %}
      </div>
  </div>
</div>




{% endblock profile_card %}

