{% extends 'main/base.html' %}
{% load static %}


{% block content %}
        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                            <div class="shop-toolbar mb--50">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <form method="get">
                                                    {{ ordering_form }}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right">
                                             <p class="product-pages">Показано {{ page_obj|length }} из {{ paginator.count }}</p>
                                             <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" data-target="grid">
                                                    <img src="{% static 'main/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a data-target="list">
                                                    <img src="{% static 'main/img/icons/list.png' %}" alt="List">
                                                </a>
                                                <a data-target="map">
                                                    <img src="{% static 'main/img/icons/map.png' %}" alt="Map">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-products list">
                                <div class="row">
                                {% for specialist in specialists %}
                                    {% include 'users/payne-card.html' %}
                                {% endfor %}
                                </div>
                                <div class="payne-product-map">
                                    <div id="map" style="width: 100%; height: 65vh;;" >
                                    {% include 'users/map.html' %}
                                    </div>
                                </div>
                            </div>
                            {% include 'main/pagination.html' %}
                        </div>

                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <aside class="shop-sidebar">
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--25">Category</h3>
                                    <ul class="widget-list category-list">
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Winter Collection</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Women’s Clothes</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Men’s Clothes</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Kid’s Clothes</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Uncategorized</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">Accessories</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span class="category-title">New Arrival</span>
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--30">Color</h3>
                                    <div class="widget-color">
                                        <a href="shop.html" class="red">Red</a>
                                        <a href="shop.html" class="pink">Pink</a>
                                        <a href="shop.html" class="black">black</a>
                                        <a href="shop.html" class="brown">brown</a>
                                        <a href="shop.html" class="blue">blue</a>
                                        <a href="shop.html" class="cholate">cholate</a>
                                        <a href="shop.html" class="copper">copper</a>
                                        <a href="shop.html" class="gray">grey</a>
                                    </div>
                                </div>
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--25">Price</h3>
                                    <ul class="widget-list price-list">
                                        <li>
                                            <a href="shop.html">
                                                <span>Low - Medium</span>
                                                <strong class="font-weight-medium">$10.00 - $45.00</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span>Medium - High</span>
                                                <strong class="font-weight-medium">$45.00 - $60.00</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span>High - Avobe</span>
                                                <strong class="font-weight-medium">$60.00 - $200</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-widget mb--40">
                                    <h3 class="widget-title mb--25">Brand</h3>
                                    <ul class="widget-list brand-list">
                                        <li>
                                            <a href="shop.html">
                                                <span>Walmart</span>
                                                <strong class="color--red font-weight-medium">10</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span>Yellow</span>
                                                <strong class="color--red font-weight-medium">50</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span>H &amp; M</span>
                                                <strong class="color--red font-weight-medium">46</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop.html">
                                                <span>Black &amp; White</span>
                                                <strong class="color--red font-weight-medium">46</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-widget">
                                    <h3 class="widget-title mb--25">Tag</h3>
                                    <div class="tagcloud">
                                        <a href="shop.html">Cloth</a>
                                        <a href="shop.html">Blazer</a>
                                        <a href="shop.html">Jacket</a>
                                        <a href="shop.html">Polo Shirt</a>
                                        <a href="shop.html">T-Shirt</a>
                                        <a href="shop.html">Shoes</a>
                                        <a href="shop.html">Pant</a>
                                        <a href="shop.html">Party Dress</a>
                                        <a href="shop.html">Coktail Dress</a>
                                        <a href="shop.html">Sweater</a>
                                        <a href="shop.html">Jeans</a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

{% endblock content %}
