{% extends 'users/specialists.html' %}

{% block ordering %}
<div class="col-md-5 mb-sm--30 mb-xs--10">
    <div class="shop-toolbar__left">
        <div class="product-ordering">
            <select class="product-ordering__select nice-select">
                <option value="0">Default Sorting</option>
                <option value="1">Relevance</option>
                <option value="2">Name, A to Z</option>
                <option value="3">Name, Z to A</option>
                <option value="4">Price, low to high</option>
                <option value="5">Price, high to low</option>
            </select>
        </div>
    </div>
</div>
{% endblock ordering %}

{% block specialists %}
    <div class="row">
    {% for therapist in therapists %}
        {% include 'users/payne-card.html' %}
    {% endfor %}
    </div>
{% endblock specialists %}


{% block count_info %}
    <p class="product-pages">Показано {{ page_obj|length }} карточек из {{ paginator.count }}</p>
{% endblock %}