{% extends 'main/base.html' %}
{% load static %}


{% block content %}
        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper">
            <div class="shop-page-wrapper ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 order-lg-2 mb-md--50">
                            <div class="shop-toolbar mb--50">
                                <div class="row align-items-center">
                                    <div class="col-md-5 mb-sm--30 mb-xs--10">
                                        <div class="shop-toolbar__left">
                                            <div class="product-ordering">
                                                <form method="get">
                                                    {{ ordering_form }}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="shop-toolbar__right">
                                             <p class="product-pages">Показано {{ page_obj|length }} из {{ paginator.count }}</p>
                                             <div class="product-view-mode ml--50 ml-xs--0">
                                                <a class="active" data-target="grid">
                                                    <img src="{% static 'main/img/icons/grid.png' %}" alt="Grid">
                                                </a>
                                                <a data-target="list">
                                                    <img src="{% static 'main/img/icons/list.png' %}" alt="List">
                                                </a>
                                                <a data-target="map">
                                                    <img src="{% static 'main/img/icons/map.png' %}" alt="Map">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-products list">
                                <div class="row">
                                {% for specialist in specialists %}
                                    {% include 'users/payne-card.html' %}
                                {% endfor %}
                                </div>
                                <div class="payne-product-map">
                                    <div id="map" style="width: 100%; height: 65vh;;" >
                                    {% include 'users/map.html' %}
                                    </div>
                                </div>
                            </div>
                            {% include 'main/pagination.html' %}
                        </div>

                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <aside class="shop-sidebar">
                                <form method="get">
                                    <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Пол</h3>
                                        <ul class="widget-list category-list">
                                            <li class="category-title">
                                                {{ filter_form.gender_male }}
                                                <span class="category-title">
                                                {{ filter_form.gender_male.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                            <li class="category-title">
                                                {{ filter_form.gender_female }}
                                                <span class="category-title">
                                                {{ filter_form.gender_female.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>

                                        <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Для кого массаж</h3>
                                        <ul class="widget-list category-list">
                                            <li class="category-title">
                                                {{ filter_form.massage_to_male }}
                                                <span class="category-title">
                                                {{ filter_form.massage_to_male.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                            <li class="category-title">
                                                {{ filter_form.massage_to_female }}
                                                <span class="category-title">
                                                {{ filter_form.massage_to_female.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                            <li class="category-title">
                                                {{ filter_form.massage_to_couples }}
                                                <span class="category-title">
                                                {{ filter_form.massage_to_couples.label }}
                                                </span>
                                                    <i class="fa fa-angle-double-right"></i>
                                            </li>
                                    <div class="shop-widget mb--40">
                                        <h3 class="widget-title mb--25">Цена</h3>
                                        <ul class="widget-list price-list">
                                            <li>
                                                    {{ filter_form.price_lte_3000 }}
                                                    <strong class="font-weight-medium">{{ filter_form.price_lte_3000.label }}</strong>
                                            </li>
                                            <li>
                                                    {{ filter_form.price_3000_7000 }}
                                                    <strong class="font-weight-medium">{{ filter_form.price_3000_7000.label }}</strong>
                                            </li>
                                            <li>
                                                    {{ filter_form.price_gte_7000 }}
                                                    <strong class="font-weight-medium">{{ filter_form.price_gte_7000.label }}</strong>
                                            </li>
                                        </ul>
                                    </div>

                                <div class="shop-widget">
                                    <h3 class="widget-title mb--25">Удобства</h3>
                                    <div class="tagcloud">
                                        <a href="shop.html">Cloth</a>
                                        <a href="shop.html">Blazer</a>
                                        <a href="shop.html">Jacket</a>
                                        <a href="shop.html">Polo Shirt</a>
                                        <a href="shop.html">T-Shirt</a>
                                        <a href="shop.html">Shoes</a>
                                        <a href="shop.html">Pant</a>
                                        <a href="shop.html">Party Dress</a>
                                        <a href="shop.html">Coktail Dress</a>
                                        <a href="shop.html">Sweater</a>
                                        <a href="shop.html">Jeans</a>
                                    </div>
                                </div>
                                </form>

                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

{% endblock content %}
