{% extends 'main/base.html' %}
{% load static %}

{% block content %}
   <section class="layout_padding layout_padding-left">
       {% include 'users/filter_form.html' %}
       <a href="{% url 'users:therapists' %}"><button type="submit">Сбросить фильтр</button></a>
       <a href="{% url 'users:therapists_on_map' %}?{{ request.GET.urlencode }}">Показать на карте</a>
{% for therapist in therapists %}
        {% include 'users/profile_card.html' %}
          {% endfor %}
  </section>

{% endblock content %}

