{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block content %}
<!-- contact section -->
<title>{{ title }}</title>
<section class="contact_section layout_padding layout_padding-left">
  <div class="container">
            <div class="heading_container">
        <h2>
          {{ title }}
        </h2>
      </div>
    <div class="row">
      <div class="col-md-6">
        <div class="contact_form-container">
          <form method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <ol class="steps">
              {% for step in steps %}
                {% if forloop.counter0 < wizard.steps.step0 %}
                  <li class="step is-complete" data-step="{{forloop.counter}}">
                {% elif forloop.counter0 == wizard.steps.step0 %}
                  <li class="step is-active" data-step="{{forloop.counter}}">
                {% else %}
                  <li class="step" data-step="{{forloop.counter}}">
                {% endif %}
                {{ step }}
              </li>
              {% endfor %}
            </ol>
            {{form.non_field_errors}}
            {% for field in form %}
              <div>
                {{ form.media }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  <ul class="errorlist">
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
            {% if wizard.steps.prev %}
              <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Назад</button>
            {% endif %}
            {% if wizard.steps.current == wizard.steps.last %}
              <button class="contact_section contact_form-container button" type="submit">Отправить</button>
            {% else %}
              <button class="contact_section contact_form-container button" type="submit">Далее</button>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="img-box">
          <img src="{% static 'main/images/contact-img.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  // Настройка автодополнения адресов
  ymaps.ready(function () {
    var addressInput = new ymaps.SuggestView('addressInput');
  });
</script>
<!-- end contact section -->
{% endblock content %}
