<div class="form__output">
    <div class="error">
{{ form.non_field_errors }}
    </div>
</div>

{% for field in form %}
    <div class="form__group mb--20">
        <label class="form__label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="form__output">
            <ul class="error">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
            {% endif %}
        </ul>
        </div>
{% endfor %}