{% load static %}
{% load menu %}

<header class="header header-default site-header">
    <div class="header__outer">
        <div class="header__inner header--fixed">
            <div class="container">
                <div class="header__main">
                    <div class="header__col header__left">
                        <a href="{% url 'specialists:specialists' %}" class="logo">
                            <figure class="logo--normal">
                                <img src="{% static 'main/img/logo/logo.png' %}" alt="Logo">
                            </figure>
                            <figure class="logo--transparency">
                                <img src="{% static 'main/img/logo/logo.png' %}" alt="Logo">
                            </figure>
                        </a>
                    </div>
                    <div class="header__col header__center">
                        <nav class="main-navigation d-none d-lg-block">
                            <ul class="mainmenu">
<!--                                        <li class="mainmenu__item menu-item-has-children position-relative">-->
<!--                                            <a href="index.html" class="mainmenu__link">Главная</a>-->
<!--                                        </li>-->
                                <li class="mainmenu__item menu-item-has-children position-relative">
                                    <a href="{% url 'specialists:specialists' %}" class="mainmenu__link">Специалисты</a>
                                            <div class="inner-menu">
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="{% url 'specialists:specialists' %}?order_by=-rating__average">С наивысшим рейтингом</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'specialists:specialists' %}?order_by=-date_joined">Новые</a>
                                                    </li>
<!--                                                    <li>-->
<!--                                                        <a href="cart.html">Ждут звонка</a>-->
<!--                                                    </li>-->
                                                </ul>
                                            </div>
                                </li>
<!--                                        <li class="mainmenu__item menu-item-has-children position-relative">-->
<!--                                            <a href="#" class="mainmenu__link">Блог</a>-->
<!--                                            <div class="inner-menu">-->
<!--                                                <ul class="sub-menu">-->
<!--                                                    <li class="has-children">-->
<!--                                                        <a href="#">Blog Grid</a>-->
<!--                                                        <ul class="sub-menu">-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-left-sidebar.html">Left Sidebar</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog.html">Right Sidebar</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-01-column.html">One Column</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-02-columns.html">Two Columns</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-03-columns.html">Three Columns</a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                    <li class="has-children">-->
<!--                                                        <a href="#">Blog Details</a>-->
<!--                                                        <ul class="sub-menu">-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-details-image.html">Image Post</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-details-audio.html">Audio Post</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-details-video.html">Video Post</a>-->
<!--                                                            </li>-->
<!--                                                            <li>-->
<!--                                                                <a href="blog-details-gallery.html">Gallery Post</a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                <li class="mainmenu__item menu-item-has-children position-relative">
                                    <a href="#" class="mainmenu__link">Дополнительно</a>
                                    <div class="inner-menu">
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="{% url 'main:contact-us' %}">Обратная связь</a>
                                            </li>
                                            <li>
                                            {% if user.is_authenticated %}
                                                {% if user.is_therapist %}
                                                    <a href="{% url 'specialists:delete_a_specialist' %}">Удалить профиль массажиста</a>
                                                {% else %}
                                                    <a href="{% url 'specialists:become_a_specialist' %}">Создать профиль массажиста</a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'accounts:specialist_registration' %}">Создать профиль массажиста</a>
                                            {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__col header__right">
                        {% profile_menu user %}
                        <div class="toolbar-item d-block d-lg-none">
                            <a href="#offcanvasnav" class="hamburger-icon js-toolbar menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="header-sticky-height"></div>
</header>