{% extends 'main/base.html' %}
{% load static %}


{% block content %}
  <title>{{ title }}</title>



<section class="health_section layout_padding-left layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-container">
            <div class="heading_container">
              <h2>
                Преимущества
              </h2>
            </div>
            <div class="detail-box">
              <div class="detail">
                <div class="detail_img-box">
                  <img src="{% static 'users/images/h-1.jpg' %}" alt="">
                </div>
                <div class="text">
                  <p>
                    Тантрический массаж, проводимый опытным специалистом, может помочь в раскрытии и улучшении сексуальной энергии, способствуя глубокому ощущению удовольствия и интимной связи.
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="{% static 'users/images/h-2.jpg' %}" alt="">
                </div>
                <div class="text">
                  <p>
                    Этот вид массажа может привести к глубокому расслаблению и осознанию своего тела, помогая снять напряжение и стресс, а также улучшить физическое и эмоциональное благополучие.
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="{% static 'users/images/h-3.jpg' %}" alt="">
                </div>
                <div class="text">
                  <p>
                    Тантрический массаж, проводимый профессионалом, может помочь в развитии сексуальной чувствительности, повышении оргазмического потенциала и расширении сексуального репертуара.
                  </p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_img-box">
                  <img src="{% static 'users/images/h-4.jpg' %}" alt="">
                </div>
                <div class="text">
                  <p>
                    Благодаря индивидуальному подходу специалиста к каждому клиенту, тантрический массаж помогает создать атмосферу доверия и безопасности, что способствует укреплению эмоционального и физического благополучия.
                  </p>
                </div>
              </div>
            </div>
            <a href="">
              Узнать больше
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'users/images/health-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end health section -->

  <!-- spl section -->

  <section class="spl_section layout_padding layout_padding-left">
    <div class="container">
      <div class="heading_container">
        <h2>
          Специалисты
        </h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem
        </p>
      </div>
    </div>
    <div class="spl_container">
      <div class="owl-carousel owl-theme">
        {% for therapist in therapists %}
           {% include 'users/profile_card.html' %}
          {% endfor %}

      </div>
    </div>
  </section>

  <!-- end spl section -->

{% endblock %}
