<div class="review-form-wrapper mt-50">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="reply-title">Оставить отзыв</h3>
                    <form id="review-form" method="post" action="{% url 'feedback:add_comment' %}" class="form pr--30">
                        {% csrf_token %}
                        {{form.review_for}}
                        <div class="form__output">
                            <div class="error">
                        {{ form.non_field_errors }}
                            </div>
                        </div>
                        <div class="form__group mb--10">
                            <label class="form__label d-block mb--10">{{form.score.label}}
                            {% if form.text.field.required %}
                            <span class="required">*</span>
                            {% endif %}</label>
                            </label>
                            {{form.score}}
                        </div>
                        {% if form.score.errors %}
                        <div class="form__output">
                            <ul class="error">
                            {% for error in form.score.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="form__group mb--10">
                            <label class="form__label d-block mb--10">{{form.text.label}}
                            {% if form.text.field.required %}
                            <span class="required">*</span>
                            {% endif %}</label>
                            {{form.text }}
                        </div>
                        {% if form.text.errors %}
                        <div class="form__output">
                            <ul class="error">
                            {% for error in form.text.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="form__group">
                            <div class="form-row">
                                <div class="col-12">
                                    <input type="submit" value="Отправить"
                                        class="btn btn-size-md">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>