{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<title>{{ title }}</title>
        <main class="main-content-wrapper">
            <div class="pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 text-center">
                            <div class="error">
                                <h1>403</h1>
                                <h2>Доступ запрещён</h2>
                                <p>Данная страница доступна только для массажистов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}