{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <!-- contact section -->
  <title>Смена пароля</title>
<div class="main-content-wrapper">
  <div class="page-content-inner pt--75 pb--80">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6 mb-sm--50">
            <div class="register-box">
                <h2 class="heading__tertiary mb--30">Смена пароля</h2>
                <form  method="post" class="form form--registration">
                    {% csrf_token %}
                    {% include 'main/form_content.html' %}
                    <div class="form__group row justify-content-center">
                      <button type="submit" class="btn btn-size-sm">Сохранить</button>
                    </div>
                </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
