{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<title>{{ title }}</title>
  <section class="contact_section layout_padding_form ">
    <div class="container">
      <div class="heading_container">
        <h2>
Пароль изменен      </h2>

          <h3>Ваш пароль был сохранен. Теперь вы можете войти.</h3>
      </div>
    </div>
              </section>

      <div class="col-md-6 col-lg-5 offset-lg-1">
          <div class="img-box">
            <img src="{% static 'users/images/contact-img.jpg' %}" alt="">
          </div>
        </div>

{% endblock content %}