{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<title>{{ title }}</title>
        <main class="main-content-wrapper">
            <div class="pt--90 pt-xl--30 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 text-center">
                            <div class="error">
                                <h1><i class="fa fa-envelope" aria-hidden="true"></i></h1>
                                <h2>Письмо отправлено</h2>
                                <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}