{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<title>{{ title }}</title>
  <section class="contact_section layout_padding_form ">
    <div class="container">
      <div class="heading_container">
        <h2>
Письмо отправлено      </h2>

          <h3>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</h3>
      </div>
    </div>
              </section>

      <div class="col-md-6 col-lg-5 offset-lg-1">
          <div class="img-box">
            <img src="{% static 'users/images/contact-img.jpg' %}" alt="">
          </div>
        </div>

{% endblock content %}