<form action="{% url 'accounts:password_change_done' %}" class="form form--account">
    {% csrf_token %}
    <fieldset class="form__fieldset mb--20">
        <legend class="form__legend">Смена пароля</legend>
        {% include 'main/form_content.html' %}
    </fieldset>
    <div class="row">
        <div class="col-12">
            <div class="form__group">
                <button type="submit" value="Save Changes" class="btn">Сохранить</button>
            </div>
        </div>
    </div>
</form>
