{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<title>{{ title }}</title>
        <main class="main-content-wrapper">
            <div class="pt--90 pt-xl--70 pb--120 pb-xl--100 pb-lg--95 pb-sm--90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 text-center">
                            <div class="error">
                                <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                                <h2>Пользователь уже активен</h2>
                                <p>Пользователь {{ user }} уже активирован ранее</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}
