
.spl-card {
  height: 440px;
  aspect-ratio: 3 / 4;
  min-width: 330px;
}

.cardContainer {
  position: relative;
  width: 30%;
  aspect-ratio: 3 / 4;
  min-width: 330px;
  margin: 4px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 30%;
  aspect-ratio: 3 / 4;
  min-width: 330px;
  margin: 4px;
  perspective: 1000px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  transform: translateZ(0px);
}

.head_container {
  position: relative;
  padding: 5%;
  width: 100%;
  height: 30%;
}

.avatar-container {
  position: absolute;
  right: 5%;
  height: 100%;
  width: auto;
  align-items: center; /* Фото вертикально выравнивается по центру */
}

.head_container img {
  border-radius: 50%;
  max-height: 100%; /* Фото будет масштабироваться, чтобы вписаться в высоту контейнера */
  width: auto; /* Ширина автоматически вычисляется, чтобы сохранить пропорции */
}


.grid-container {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20%;
}

.param-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  grid-column: 1; /* Первый столбец */
}

.param-value {
  font-weight: bold;
  font-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2; /* Второй столбец */
  color: #f5ba95;
}

.param-value img {
  height: 100%; /* Высота рассчитывается автоматически для сохранения пропорций */
  width: auto; /* Максимальная ширина изображения будет равна ширине контейнера */
  fill: #f5ba95;
}

.param-additional {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  grid-column: 3;
}


.bottom-bar {
  position: absolute;
  padding: 2%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between; /* Равномерное распределение по горизонтали */
  align-items: center; /* Выравнивание по центру по вертикали */
  }

.bottom-bar img {
  height: 100%; /* Максимальная высота изображений равна высоте родительского блока */
  width: auto; /* Ширина рассчитывается автоматически для сохранения пропорций */
  margin: 0 5px; /* Небольшие отступы между изображениями */
  cursor: pointer;
}

.bottom-bar input {
  height: 100%; /* Максимальная высота изображений равна высоте родительского блока */
  width: auto; /* Ширина рассчитывается автоматически для сохранения пропорций */
  margin: 0 5px; /* Небольшие отступы между изображениями */
  cursor: pointer;
}

.like{
  height: 100%;
  width: auto;
  margin: 0 5px;
  cursor: pointer;
}


